{% block root %}
    {% if item is defined %}
        <ul class="breadcrumb">
            {%- for link in item %}
                {%- if not loop.last %}
                    <li><a href="{{ link.uri }}">{{ link.label }}</a></li>
                {%- else %}
                    <li class="active">{{ link.label }}</li>
                {%- endif %}
            {%- endfor %}
        </ul>
    {% endif %}
{% endblock %}