<div class="left-side clearfix">
    <h3>Каталог товаров</h3>
    <div class="k-search">
        <input type="text" name="katalog search" placeholder="поиск товаров">
    </div>
    <div class="k-category">
        <ul>
            <li><a href="#">Наращивание ресниц</a></li>
            <li><a href="#">Наращивание ногтей</a></li>
            <li><a href="#">Биоэпиляция</a></li>
            <li><a href="#">Парафинотерапия</a></li>
            <li><a href="#">СПА</a></li>
            <li><a href="#">Визажист</a></li>
            <li><a href="#">Парикмахер</a></li>
            <li><a href="#">Декор</a></li>
        </ul>
    </div>
    <div class="advice">
        <div class="k-title">
            <h3>Новости</h3>
        </div>
        <div class="advice-item">
            <div class="hat">
                <p>Как правильно подобрать
                    <br><strong>материалы для наращивания
                        <br>ногтей?</strong>
                </p>
            </div>
            <img src="{{ asset('img/advice-1.jpg') }}" alt="ногти">
            <br/>
            <a href="#" class="btn btn-info">Узнайте больше</a>
        </div>
        <div class="margin"></div>
        <div class="advice-item">
            <div class="hat">
                <p>Хотите
                    <br><strong>красивые
                        ресницы?</strong>
                    <br>
                    <a href="#">Кликайте сюда!</a>
                </p>
            </div>
            <img src="{{ asset('img/advice-2.jpg') }}" alt="">
            <br/>
            <a href="#" class="btn btn-info">Узнайте больше</a>
        </div>
    </div>
</div>