<div id="footer">
    <div class="container clearfix">
        <div class="logo">
            <a href="#"><img src="{{ asset('img/logo.png') }}" alt=""></a><br/>
            <a href="tel:+375296289473">+375 (29) 628-94-73</a><br/>
            <a href="tel:+375296487380">+375 (29) 648-73-80</a><br/>

            <div class="action"><label for = "callback" class="btn btn-callback">Вам перезвонить?</label></div>
        </div>
        <div class="links">
            <p>Главная</p>
            <ul>
                <li><a href="">Продукция Irisk</a></li>
                <li><a href="">О магазине</a></li>
                <li><a href="">Cпецпредложения</a></li>
                <li><a href="">Акции</a></li>
            </ul>
        </div>
        <div class="links">
            <p>Главная</p>
            <ul>
                <li><a href="">Продукция Irisk</a></li>
                <li><a href="">О магазине</a></li>
                <li><a href="">Cпецпредложения</a></li>
                <li><a href="">Акции</a></li>
            </ul>
        </div>
        <div class="links">
            <p>Главная</p>
            <ul>
                <li><a href="">Продукция Irisk</a></li>
                <li><a href="">О магазине</a></li>
                <li><a href="">Cпецпредложения</a></li>
                <li><a href="">Акции</a></li>
            </ul>
        </div>

        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-vk fa-inverse fa-2x"></i>
                    </a></li>
                <li><a href="#"><i class="fa fa-facebook fa-inverse fa-2x"></i>
                    </a></li>
                <li><a href="#"><i class="fa fa-odnoklassniki fa-inverse fa-2x"></i>
                    </a></li>
                <li><a href="#"><i class="fa fa-instagram fa-inverse fa-2x"></i>
                    </a></li>
            </ul>
        </div>

    </div>
</div>
<div class="maker">
                <span>Сайт делали:
                    <a href="s-it.of.by">s-it.by</a></span>
</div>