<!----------------------------- Модалки --------------------------------->
<div class="modal">
    <input class="modal-open" id="incart" type="checkbox" hidden>
    <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="incart"></label>
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Ура! Товар добавлен в корзину!</h2>
                <label class="btn-close" for="incart" aria-hidden="true">×</label>
            </div>
            <div class="modal-body">
                <p>Вы можете <a href="#">вернуться в магазин</a> и продолжить шоппинг <br> или</p>
                <button class = "shopping">Перейти к оформлению</button>
            </div>

        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------->
<div class="modal">
    <input class="modal-open" id="1clickbuy" type="checkbox" hidden>
    <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="1clickbuy"></label>
        <div class="modal-dialog">
            <div class="modal-body">
                <p>Заполните форму и мы перезвоним <br>Вам по поводу доставки</p>
                <label class="btn-close" for="1clickbuy" aria-hidden="true">×</label>

                <form action="">
                    <input type="text"placeholder="Как Вас зовут?">
                    <br/>
                    <input type = "tel" placeholder="8(044)111-22-33">
                </form>
                <button>Отправить</button><br/>
                <span>*не волнуйтесь, Ваши данные под надежной защитой</span>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------->
<div class="modal">
    <input class="modal-open" id="callback" type="checkbox" hidden>
    <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="callback"></label>
        <div class="modal-dialog">
            <div class="modal-body">
                <p>Заполните форму и мы перезвоним <br>Вам для подробной консультации</p>
                <label class="btn-close" for="callback" aria-hidden="true">×</label>

                <form action="">
                    <input type="text"placeholder="Как Вас зовут?">
                    <br/>
                    <input type = "tel" placeholder="8(044)111-22-33">
                </form>
                <button>Отправить</button><br/>
                <span>*не волнуйтесь, Ваши данные под надежной защитой</span>
            </div>
        </div>
    </div>
</div>