<div class="modal fade" id="zakazatzvonok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Заявка на бесплатную консультацию</h4>
            </div>
            <div class="modal-body ">
                <div class="callback-form">
                    <form action="#">
                        <p>*Ваше имя</p><input type="text" placeholder="Александр">
                        <p>*Телефон для связи</p><input type="tel" placeholder="+375 29 555 66 77"><br/>
                        <p>Сообщение</p> <textarea  rows="4" cols="27" placeholder="О чем бы Вы хотели узнать?"></textarea>
                        <button class="btn btn-warning">Отправить</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="tovarvkorzine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title text-center" id="korz">Товар помещен в корзину</h4>
            </div>
            <div class="modal-body text-center">
                <p> Вы можете <a href = "" >вернуться в магазин</a> и продолжить шоппинг или<br/> <a href="korzina.html" class="btn btn-success">Перейти к оформлению</a> </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kupitv1klik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title text-center" id="klik">Заявка на бесплатную консультацию</h4>
            </div>
            <div class="modal-body ">
                <div class="callback-form">
                    <form action="#">
                        <p>*Ваше имя</p><input type="text" placeholder="Александр">
                        <p>*Телефон для связи</p><input type="tel" placeholder="+375 29 555 66 77"><br/>
                        <button class="btn btn-warning">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>