<div class="rs-head clearfix">
    <div class="breadcumbs">
        {{ knp_menu_render('breadcrumbs') }}
    </div>
    <div class="pages">
        <ul>
            <li><a href="#">&#8249;</a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">...</a></li>
            <li><a href="">15</a></li>
            <li><a href="#">&#8250;</a></li>
        </ul>
    </div>
    <div class="sort">
        <form action="#" name="select">
            <select name="sort" id="sortirovka">
                <option selected value="Начать с дешевых">Цена &uarr;</option>
                <option value="Начать с дорогих">Цена &darr;</option>
                <option value="от А до Я ">А - Я</option>
                <option value="от Я до А">Я - А</option>
            </select>
        </form>
    </div>
</div>