ul.topnav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}

ul.topnav li ul {
    padding-left: 15px;
}

ul.topnav li a {
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
}

ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    font-weight: normal;
}

ul.topnav span {
    float: right;
    font-family: monospace;
}

ul.topnav li.last-active > a {
    color: #000;
}

#catalog .container {
    background-color: #F8F1F6;
}

#catalog .left-side {
    padding: 15px;
    width: 270px;
    float: left;
    background: #F8F1F6;
}

#catalog .right-side {
    padding: 15px;
    width: 870px;
    float: right;
    background: #fff;
}

.ls-item ul li {
    padding: 0 0 10px;
}

.ls-item input {
    padding: 5px 5px;
    width: 270px;
}

.ls-item ul li span {
    float: right;
    padding: 0 5px;
}

.rs-head {
    padding: 10px 0;
}

.breadcumbs ul li {
    display: inline-block;
}

.breadcumbs span,  {
    margin: 0 10px;
}

.breadcumbs li::after {
    content: '/';
    display: inline-block;
    margin: 0 10px;
}

.breadcumbs li:last-child a {
    color: #000;
}

.breadcumbs li:last-child::after {
    display: none;
}

.breadcumbs {
    padding: 0 10px;
    float: left;
}

.sort {
    float: right;
    margin-top: -3px;
    margin-right: 20px;
}

.pages {
    float: right;
    margin-top: 1px;
}

.pages ul li {
    display: inline-block;
}

.pages ul li a {
    display: inline-block;
    padding: 0 3px;
}

.pages ul li.active a {
    color: #000;
}

.rs-tovbox {
    padding: 10px 5px 15px;
}

.rs-item {
    float: left;
    width: 430px;
}

.t-head a {
    float: left;
}

.t-head {
    background: #fff9d1;
    padding: 5px 10px;
}

.t-head span {
    float: right;
    color: #ffc10d;;
}

.t-body {
    height: 430px;
    width: 430px;
    position: relative;
}

.t-body a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.t-body img {
    float: left;
}

.t-body span {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 410px;
    color: #fff !important;
    background: rgba(0, 0, 0, 0.4);
}

.t-foot {
    padding: 5px 5px;
    background: #222;
}

.t-foot span {
    color: #fff;
    float: left;
    vertical-align: middle;
}

.t-foot label {
    float: right;
    vertical-align: middle;
    background: #ffa509;
    padding: 1px 15px;
    color: #222;
    border: none;
    margin-top: 3px;
    cursor: pointer;
}

.t-foot label:hover {
    background: #ffc10d;
}

#footer {
    background: #222;
    padding: 15px 0;
    border-bottom: 5px #ffa509 solid;
}

.logo a {
    color: #fff;
}

#footer .logo {
    float: left;
}

.links {
    float: left;
    margin-left: 100px;
}

.links p {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.social {
    float: right;
}

.social ul li {
    display: inline-block;
}

.social ul li + li {
    margin-left: 5px;
}

.links ul li a {
    color: #fff;
    font-size: 12px;
}

.maker {
    background: #4e4e4e;
    text-align: center;
    color: #fff;
    padding: 6px 0 8px;
}

.maker a {
    text-transform: uppercase;
    color: #fff;
}