ul.topnav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}

ul.topnav li ul {
    padding-left: 15px;
}

ul.topnav li a {
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
}

ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    font-weight: normal;
}

ul.topnav span {
    float: right;
    font-family: monospace;
}

#catalog .container {
    background-color: #F8F1F6;
}

#catalog .left-side {
    padding: 15px;
    width: 270px;
    float: left;
    background: #F8F1F6;
}

#catalog .right-side {
    width: 900px;
    float: right;
    background: #fff;
}

.ls-item ul li {
    padding: 0 0 10px;
}

.ls-item input {
    padding: 5px 5px;
    width: 270px;
}

.ls-item ul li span {
    float: right;
    padding: 0 5px;
}

.rs-head {
    background: #ffe0d0;
    width: 100%;
    padding: 2px 0;
}

.breadcumbs ul li {
    display: inline-block;
}

.breadcumbs span {
    margin: 0 10px;
}

.breadcumbs {
    padding: 2px 10px;
    float: left;
}

.sort {
    float: right;
    margin-top: 2px;
    margin-right: 20px;
}

.pages {
    float: right;
    margin-top: 1px;
}

.pages ul li {
    display: inline-block;
    border: 1px solid #222;
    background: #efefef;
    padding: 0 6px;
}

.pages ul li + li {
    margin-left: -5px;
}

.pages ul li.active {
    background: #c2c2c2;
}

.rs-tovbox {
    padding: 10px 15px;
}

.rs-item {
    float: left;
    width: 430px;
    border: 1px solid #d9d9d9;

}

.t-head a {
    float: left;
}

.t-head {
    background: #fff9d1;
    padding: 5px 10px;
}

.t-head span {
    float: right;
    color: #ffc10d;;
}

.t-body {
    min-height: 140px;
}

.t-body img {
    float: left;
}

.t-body span {
    font-weight: bold;
    vertical-align: middle;
}

.t-foot {
    padding: 5px 5px;
    background: #222;

}

.t-foot span {
    color: #fff;
    float: left;
    vertical-align: middle;
}

.t-foot label {
    float: right;
    vertical-align: middle;
    background: #ffa509;
    padding: 1px 15px;
    color: #222;
    border: none;
    margin-top: 3px;
    cursor: pointer;
}

.t-foot label:hover {
    background: #ffc10d;
}

.rs-foot {
    background: #ffe0d0;
    padding: 8px;
}

#footer {
    background: #222;
    padding: 15px 0;
    border-bottom: 5px #ffa509 solid;
}

.logo a {
    color: #fff;
}

#footer .logo {
    float: left;
}

.links {
    float: left;
    margin-left: 100px;
}

.links p {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.social {
    float: right;
}

.social ul li {
    display: inline-block;
}

.social ul li + li {
    margin-left: 5px;
}

.links ul li a {
    color: #fff;
    font-size: 12px;
}

.maker {
    background: #4e4e4e;
    text-align: center;
    color: #fff;
    padding: 6px 0 8px;
}

.maker a {
    text-transform: uppercase;
    color: #fff;
}