#cart-field .cart-head {
    height: 25px;
}

#cart-field .cart-table table {
    background: rgb(253, 255, 255);
}

#cart-field .cart-table table tr td {
    width: 350px;
    border: 1px solid #9f9f9f;
    text-align: center;
    padding: 5px 15px;
    border-collapse: collapse;
}

#cart-field .cart-table table tr td a {
    text-decoration: underline;
}

#cart-field .cart-table table tr td input {
    width: 35px;
    text-align: center;
}

.delivery-choose {
    padding: 5px 50px;
    margin: 0 auto;
}

#cart-field .delivery-choose table {
    background: rgb(253, 255, 255);
}

#cart-field .delivery-choose table tr td {
    width: 350px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 5px 15px;
    border-collapse: collapse;
}

.cart-action {
    text-align: center;
    margin-top: 50px;
}

.cart-action ul li {
    display: inline-block;
}

.background {
    background: #6c6c6c;
    color: #fff;
    font-weight: 400;
}

#cart-field .container {
    background: #f5f4f3;
    padding: 15px 15px;
}

#cart-field .cart-z p {
    font-size: 22px;
}

#cart-field .container .info table tr td {
    padding: 5px 15px;
}

#cart-field .container .info table tr td input {
    width: 250px;
}
.cart-itog table{text-align: center; width: 100%;}
.info table {text-align: center; width: 100%;}
.info form td input {padding: 5px 3px;}
