html {
    height: 100%;

}

.title .simple-line {
    background: #ff7d00;
    width: 125px;
    height: 5px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

a {
    color: #ff7d00;
}

a:hover {
    color: #ff3c15;

}

.title {
    text-align: center;
}

.title p {
    margin-top: 10px;
}

.margin {
    margin-top: 50px;
}

.backing {
    background: url(../img/background.jpg);
    background-size: auto;
}

.bootstrap-grid {
    overflow: auto;
    width: 1170px;
    margin: 0 auto;
    background: #fff;
    height: auto !important;
    height: 100%;

}

.row {
    width: 100%;
}

ul,
li {
    list-style: none;
}

#header {
    height: 155px;
    width: 100%;
    background: #222222;
    -webkit-background-size: auto;
    -ms-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    position: relative;
}

#header .logo {
    color: #dcdfdf;
    font-weight: bold;
    float: left;
    padding: 15px 30px
}

#header .search {

    margin-top: -105px;
}

#header .search input {
    width: 270px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;

}

#header .k-contact {
    padding: 33px 441px;
    text-align: center;
}

#header .k-contact {
    color: #dcdfdf;
    font-size: 20px;
}

#header .k-contact .btn {
    padding: 0 10px;
}

#header .mycart {
    float: right;
    margin-top: -115px;
    margin-right: 30px;
    text-align: center;
    font-size: 20px;
}

#header .worktime {
    font-size: 20px;
    float: right;
    color: #dcdfdf;
    margin-top: -115px;
    margin-right: 220px;
    text-align: center;
}

#header .k-contact a {
    text-transform: uppercase;
}

#header .navig {
    margin-top: 35px;
    background: #2a2a2f;
    width: 1170px;
    padding-left: 175px;
}

#header .navig ul li {
    display: inline-block;
}

#header .navig ul li .btn {
    text-align: center;
    margin-left: -5px;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 13px;
}

#header .navig li a {
    border-radius: 4px 4px 0 0 !important;
}

.navig li.current a {
    background: #ff7d00 !important;
    color: #fff;
}

.navig li a {
    background: transparent !important;
    color: #ff7d00;
}

#about .container p {
    margin-right: 25px;
    width: 550px
}

#about .container img {
    width: 550px;
    height: 310px;
}

.contact-icon {
    float: right;
    margin-top: -105px;
    margin-right: 170px;
}

#banner {
    height: 100%;
    background: url(../img/b-1.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#banner .b-caption {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}

#banner .b-caption h1 span {
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.51);
    color: #ffff9e;
}

#banner .b-caption h2 span {
    font-weight: lighter;
    background: rgba(237, 28, 36, 0.62);
    color: #333333;
}

#banner .b-caption p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #222;
    color: #fff;
}

#banner .b-caption p span {
    background: rgba(8, 8, 8, 0.62);
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
}

#banner .action {
    margin-top: 25px;
}

#banner .action .btn-warning {
    font-size: 20px;
    font-weight: lighter;
}

#banner .action .btn-default {
    font-size: 20px;
    font-weight: lighter;
    background: rgba(0, 0, 0, 0.1);
    color: #222;
}

#banner .action .btn-default:hover {
    background: rgba(212, 212, 212, 0.47);
}

#advantage {
    padding: 40px 20px;
    background: #ed1c24;
}

.adv-itembox {
    width: 100%;
}

.adv-item img {
    margin-right: 40px;
}

.adv-item img:last-child {
    margin-right: 0;
}

#advantage .adv-item {
    float: left;
    width: 30%;
    margin-right: 3%;

}

.adv-item p {
    color: #fff;
    font-size: 15px;
}

.adv-item p span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

#popular {
    overflow: auto;
    width: 100%;
}

.p-itembox {;
    margin-left: 30px;
}

.p-item {
    background: #f4f3f3;
    width: 255px;
    padding: 11px 20px;
    margin-right: 30px;
    float: left;
}

.p-item .action {
    margin-left: 0;
}

.p-item .action .btn-warning {
    padding: 5px 15px;
}

.p-item .action .btn-default {
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.15);
    color: #222;
}

.p-item:nth-child(4n) {
    margin-right: 0;
}

.c-item:last-child(4n) {
    margin-right: 0;
}

#catalog {

    padding: 50px 30px;
    background: url(../img/cat-back.jpg) center bottom;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    overflow: auto;
}

#catalog .simple-line {
    background: #ff7d00;
    width: 70px;
    height: 5px;
    margin: 0 auto;
}

#catalog .simple-line {
    margin-top: 25px;
}

#catalog .c-item {
    padding-bottom: 10px;
    text-align: center;
    float: left;
    width: 255px;
    background: #fff;
    margin: 10px 11px;
    text-transform: uppercase;
}

#catalog .c-item h3 {
    font-size: 20px;
    height: 70px;
    width: 255px;
    text-align: center;
}

#catalog .c-item:hover {
    box-shadow: 1px 1px 15px #222;
    cursor: pointer;
}

#catalog .c-item img {
    margin-top: 45px;
}

.f-itembox {
    margin-left: 350px;
}

#mycarousel .carousel-inner img {
    width: 100%;
}

.left-side {
    float: left;
}

.right-side {
    float: left;
}

.breadcrumbs {
    float: left;
}

.sort {
    float: left;
}

.ciferki {
    float: left;
}

.t-item {
    width: 445px;
}

.left-side {
    margin-right: 30px;
}

#katalog .k-search input {
    width: 205px;
    padding: 5px 5px;
    border-radius: 5px;
    margin-bottom: 12px;
}

#katalog .k-category ul li a {
    color: #fff;
    font-size: 14px;
    text-shadow: #222 1px 1px 3px;
    font-weight: bold;
}

#katalog .k-category ul li a:hover {
    text-decoration: none;
    background: #1ec5db;
}

#katalog .k-category {
    margin-left: -40px;
}

#katalog .k-category ul li {
    background: #f68e56;
    text-transform: uppercase;
    border: 1px solid #f29f72;
    width: 205px;
    display: block;
    margin-bottom: 5px;
    padding: 2px 5px;
}

.advice {
    margin-top: 50px;
    text-align: center;
}

.advice-item {
    width: 205px;
    background: #efefef;
    padding: 15px 15px;
}

.advice-item .btn-info {
    margin-top: 25px;
}

.right-head {
    background: rgba(103, 57, 13, 0.07);
    height: 37px;
    padding: 1px 3px;
    margin: 0 auto;
}

.breadcrumb {
    background: transparent;
    float: left;
    border: 0;
    width: 450px;
}

.breadcrumb li a {
    color: #718af4;
}

.sort .btn-group .btn-info {
    margin-top: 7px;
    padding: 0 15px;
    background: #fff;
    color: #222;
    text-transform: none;
    float: right;
    margin-right: 0;
    border: 1px #e0e0e0 solid;
}

.ciferki {
    float: right;
    margin-top: -17px;
    margin-left: 11px;
}

.tovar-box {
    margin-top: 27px;
    background: rgba(103, 57, 13, 0.07);

}

.t-item {
    border: 1px solid #e5e5e5;
    float: left;
}

.tovar-box .t-item .item-head {
    background: #565757;
    padding: 5px 10px;
}

.item-head a {
    color: #bec8f7
}

.tovar-box .t-item .item-middle {
    margin-top: 15px;
}

.tovar-box .t-item .item-footer {
    margin-top: 45px;
    background: #565757;
    padding: 15px 15px;
}

.tovar-box .t-item .item-footer .btn-success {
    padding: 0 10px;
    float: right;
    margin-top: -11px;
    margin-right: -3px;
}

.item-footer .present {
    float: left;
    margin-top: -10px;
    margin-left: -45px;
}

.item-footer .present ul li {
    display: inline-block;
    margin-right: 5px;
}

.item-footer .present ul li p {
    color: #fff;
}

.tovar-box .t-item .item-head .raiting img {
    margin-top: -18px;
}

.right-side {
    width: 890px;
    float: left;
}

.container {
    margin: 0 auto;
}

#katalog {
    margin-left: 21px;
    width: 1148px;

}

#kartochka .tovar {
    padding: 10px 20px;
}

.tov-heading {
    background: #565757;
    padding: 10px 5px;
}

.tov-heading img {
    float: right
}

.tov-heading a {
    text-transform: uppercase;

}

#kartochka .tov-img {
    float: left;
    margin-right: 50px;
    margin-top: 25px;
}

.mycart p {
    color: #fff;
    font-size: 14px;
}

#kartochka .tov-img:hover {
}

.fresco-main img {
    float: left;
    border: 1px #eaedeb solid;
    cursor: zoom-in;
    margin-right: 5px;
}

.fresco-sub img {
    width: 90px;
    border: 1px #eaedeb solid;
    cursor: zoom-in;
    height: 90.5px;
    margin-bottom: 5px;
}

#kartochka .tov-price {
    float: left;
}

.fresco-main img:hover {
    box-shadow: #090909 1px 1px 3px;
}

.fresco-sub img:hover {
    box-shadow: #090909 1px 1px 3px;
}

.act-to-buy {
    float: left;
    margin-top: 35px;
    margin-left: -160px;
    text-align: center;
}

.act-to-buy ul li {
    display: block;
}

.act-to-buy .btn-success {
    padding: 5px 40px;
    text-transform: uppercase;
    font-size: 22px;

}

#kartochka .tov-descrip {
    margin-top: 25px;
}

#kartochka .tov-table {
    margin-top: 130px;

}

#cart-field .cart-head {
    height: 25px;

}

#cart-field .cart-table table {
    background: rgb(253, 255, 255);
}

#cart-field .cart-table table tr td {
    width: 350px;
    border: 1px solid #9f9f9f;
    text-align: center;
    padding: 5px 15px;
    border-collapse: collapse;
}

#cart-field .cart-table table tr td a {
    text-decoration: underline;
}

#cart-field .cart-table table tr td input {
    width: 35px;
    text-align: center;
}

.delivery-choose {
    padding: 5px 50px;
    margin: 0 auto;
}

#cart-field .delivery-choose table {
    background: rgb(253, 255, 255);
}

#cart-field .delivery-choose table tr td {

    width: 350px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 5px 15px;
    border-collapse: collapse;
}

.cart-action {
    text-align: center;
    margin-top: 50px;
}

.cart-action ul li {
    display: inline-block;
}

.background {
    background: #6c6c6c;
    color: #fff;
    font-weight: 400;
}

#cart-field .container {
    background: #f5f4f3;
    padding: 15px 15px;
}

#cart-field .cart-z p {
    font-size: 22px;
}

#cart-field .container .info table tr td {
    padding: 5px 15px;
}

#cart-field .container .info table tr td input {
    width: 250px;
}

b {
    font-weight: 500
}

.dostavka {
    background: #fdffff;
    -webkit-background-size: auto;
    background-size: auto;
    height: auto !important;
    height: 100%;
    margin-top: -25px;
    outline: auto;
}

.dostavka .caption {

    color: #222;
    padding: 40px 30px;
}

.dostavka .caption h3 {
    font-size: 35px;
    text-shadow: 1px 1px 3px #222;
    background: rgba(34, 34, 34, 0.74);
    color: orange;
}

.dostavka .caption p {
    font-size: 25px;

    width: 1100px;
}

.dostavka .caption p span {
    font-size: 14px;
    line-height: 5px;
}

.pochta {
    text-align: right;
}

.pochta p {
    color: #222;
}

#seotext .text-box {
    float: left;
}

#footer {

    width: 100%;
    background: #222222;
    -webkit-background-size: auto;
    -ms-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    position: relative;
}

#footer .logo {
    color: #dcdfdf;
    font-weight: bold;
    float: left;
    padding: 15px 30px
}

#footer .search {

    margin-top: -105px;
}

#footer .search input {
    width: 270px;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;

}

#footer .k-contact {
    padding: 33px 441px;
    text-align: center;
}

#footer .k-contact {
    color: #dcdfdf;
    font-size: 20px;
}

#footer .k-contact .btn {
    padding: 0 10px;
}

#footer .mycart {
    float: right;
    margin-top: -115px;
    margin-right: 30px;
    text-align: center;
    font-size: 20px;
}

#footer .worktime {
    font-size: 20px;
    float: right;
    color: #dcdfdf;
    margin-top: -115px;
    margin-right: 220px;
    text-align: center;
}

#footer .k-contact a {
    text-transform: uppercase;
}

#footer .navig {
    background: #2a2a2f;
    width: 100%;
    padding-left: 175px;
}

#footer .navig ul li {
    display: inline-block;
}

#footer .navig ul li .btn {
    text-align: center;
    margin-left: -5px;
    padding: 5px 10px;
    border-radius: 0;
    font-size: 13px;
}

#footer .navig li.current a {
    background: transparent !important;
}
