{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="about">
        <div class="container clearfix">
            <div class="caption">
                <p><a href="{{ path('articles', {'page': articlesPage}) }}" class="back-to-list">&lt;&lt; К списку статей</a></p><br>
                <h2>{{ article.title }}</h2>
                <p><em>{{ article.createdAt.format('d.m.Y') }}</em></p><br>
                {{ article.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}