{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Быстрое наращивание ресниц</h1>
            <p>10 простых способов как нарастить ресницы</p>
            <p><a class="btn btn-primary btn-lg">Узать больше</a></p>
        </div>
        <div class="jumbotron text-right">
            <h1>Хотите красивые и пышные волосы?</h1>
            <p>Впервые! Эксперты раскроют шокирующую тайну шампуней</p>
            <p><a class="btn btn-primary btn-lg">Узнать больше</a></p>
        </div>
        <div class="jumbotron">
            <h1>Быстрое наращивание ресниц</h1>
            <p>10 простых способов как нарастить ресницы</p>
            <p><a class="btn btn-primary btn-lg">Узать больше</a></p>
        </div>
        <div class="jumbotron text-right">
            <h1>Хотите красивые и пышные волосы?</h1>
            <p>Впервые! Эксперты раскроют шокирующую тайну шампуней</p>
            <p><a class="btn btn-primary btn-lg">Узнать больше</a></p>
        </div>
    </div>
{% endblock %}

