{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="about">
        <div class="container clearfix">
            <div class="caption">
                <p style="text-align: center">
                    <img src="{{ asset('img/development.png') }}">
                </p>
            </div>
        </div>
    </div>
{% endblock %}