{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ render(controller('AppBundle:Component:gallery')) }}
    <div id="about">
        <div class="container clearfix">
            <div class="caption">
                <h2>{{ page.title }}</h2><br>
                {{ page.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}