{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="dostavka-oplata" class="clearfix">
        <div class="container">
            <div class="dostavka">
                <div class="caption">
                    <div class="kurer">
                        <h3>Доставка курьером</h3>
                        <p>
                            <i class="fa fa-check-circle-o"></i>
                            Доставка по городу Минску осуществляется <strong>В ДЕНЬ ЗАКАЗА</strong><br/>
                            <i class="fa fa-check-circle-o"></i>
                            Стоимость доставки <strong>33 000 бел.рублей</strong><br/>
                            <i class="fa fa-check-circle-o"></i>
                            Доставка <strong>БЕСПЛАТНАЯ</strong> при покупке на сумму 450 000 бел.рублей<br/>
                            <i class="fa fa-check-circle-o"></i> Время доставки с 15:00 - 20:00<br/>
                        </p>
                    </div>
                    <div class="pochta">
                        <h3>Доставка почтой по всей РБ</h3>
                        <p>
                            <i class="fa fa-check-circle-o"></i>
                            Минимальный заказ от <strong>250 000 бел.рублей</strong><br/>
                            <i class="fa fa-check-circle-o"></i>
                            Доставка по почте посылкой с наложенным платежом <br/>
                            <i class="fa fa-check-circle-o"></i>
                            Оплату комиссии РУП "Белпочты" выполняет клиент
                        </p>
                    </div>
                    <div class="oplata">
                        <h3>Способы оплаты</h3>
                        <p>
                            <i class="fa fa-check-circle-o"></i>
                            Наличные при расчете с курьером<br/>
                            <i class="fa fa-check-circle-o"></i>
                            Наличные/безналичные на почте, при получении товара<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

